{{#if success}}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-succes alert-dismissible fade show" role="alert">
                {{success}}
                <button class="close" type="button" data-dismiss="alert" area-label="close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}