<div class="jumbotron myhead">
    <img class="img-fluid" src="../img/icono.png">
</div>
<nav class="navbar navbar-expand-md  mynavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbuttons" href="inicio">Inicio</a>
        </li>

        <li class="nav-item">
            <a class="nav-link navbuttons" href="/">Salir</a>
        </li>
    </ul>

    <div class="collapse navbar-collapse justify-content-end">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link navbuttons" href="registrar_pago">Registrar Pago</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbuttons" href="realizar_cobro">Realizar Cobro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbuttons" href="agregar_usuario">Agregar Usuario</a>
            </li>

        </ul>

    </div>

</nav>